<!DOCTYPE html>
<html>
<head>
    <title>UI - Demo - Conquerir le monde avec Fleet et CoreOs</title>
    <script src="libs/sockjs-1.0.3.min.js"></script>
    <script src="libs/stomp.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/ngDialog.min.js"></script>

    <script src="js/popinCtrl.js"></script>
    <script src="js/uiFleetCoreOsCtrl.js"></script>
    <script src="js/app.js"></script>

    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
    <link rel="stylesheet" type="text/css" href="./css/ngDialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/ngDialog-theme-plain.css"/>
    <link rel="stylesheet" type="text/css" href="./css/ngDialog-theme-plain.min.css"/>
</head>
<body ng-app="uiFleetCoreOs">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1 class="title">Conquerir le monde avec "Fleet" et "CoreOs"</h1>
        </div>
    </div>
</nav>

<div class="container" id="containerBody" ng-controller="UiFleetCoreOsCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
            <h4 class="text" >Death Star</h4>
            <img ng-src="/images/etoilenoire.png" class="planet" ng-click="ctrl.openPopin()"/>
        </div>
    </div>

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.tatooine)">
                <h4 class="text">{{ctrl.tatooine.name}}</h4>
                <h4 class="text">{{ctrl.tatooine.ip}}</h4>
                <img ng-src="/images/{{ctrl.tatooine.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.tatooine)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.kamino)">
                <h4 class="text">{{ctrl.kamino.name}}</h4>
                <h4 class="text">{{ctrl.kamino.ip}}</h4>
                <img ng-src="/images/{{ctrl.kamino.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.kamino)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.coruscant)">
                <h4 class="text">{{ctrl.coruscant.name}}</h4>
                <h4 class="text">{{ctrl.coruscant.ip}}</h4>
                <img ng-src="/images/{{ctrl.coruscant.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.coruscant)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.naboo)">
                <h4 class="text">{{ctrl.naboo.name}}</h4>
                <h4 class="text">{{ctrl.naboo.ip}}</h4>
                <img ng-src="/images/{{ctrl.naboo.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.naboo)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.alderaan)">
                <h4 class="text">{{ctrl.alderaan.name}}</h4>
                <h4 class="text">{{ctrl.alderaan.ip}}</h4>
                <img ng-src="/images/{{ctrl.alderaan.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.alderaan)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.hoth)">
                <h4 class="text">{{ctrl.hoth.name}}</h4>
                <h4 class="text">{{ctrl.hoth.ip}}</h4>
                <img ng-src="/images/{{ctrl.hoth.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.hoth)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
    </div>

    <div class="row" id="dockerGroup">

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.tatooine)">
                <h4 class="text">{{ctrl.tatooine.troopers.length}}</h4>
                <a target="_blank" data-ng-repeat="i in ctrl.range(ctrl.tatooine)" ng-href="http://{{ctrl.tatooine.troopers[i]}}">
                    <img src="images/docker.png" class="docker">
                </a>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.kamino)">
                <h4 class="text">{{ctrl.kamino.troopers.length}}</h4>
                <a target="_blank" data-ng-repeat="i in ctrl.range(ctrl.kamino)" ng-href="http://{{ctrl.kamino.troopers[i]}}">
                    <img ng src="images/docker.png" class="docker">
                </a>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.coruscant)">
                <h4 class="text">{{ctrl.coruscant.troopers.length}}</h4>
                <a target="_blank" data-ng-repeat="i in ctrl.range(ctrl.coruscant)" ng-href="http://{{ctrl.coruscant.troopers[i]}}">
                    <img src="images/docker.png" class="docker">
                </a>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.naboo)">
                <h4 class="text">{{ctrl.naboo.troopers.length}}</h4>
                <a target="_blank" data-ng-repeat="i in ctrl.range(ctrl.naboo)" ng-href="http://{{ctrl.naboo.troopers[i]}}">
                    <img src="images/docker.png" class="docker">
                </a>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.alderaan)">
                <h4 class="text">{{ctrl.alderaan.troopers.length}}</h4>
                <a target="_blank" data-ng-repeat="i in ctrl.range(ctrl.alderaan)" ng-href="http://{{ctrl.alderaan.troopers[i]}}">
                    <img src="images/docker.png" class="docker">
                </a>
            </div>

        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.hoth)">
                <h4 class="text">{{ctrl.hoth.troopers.length}}</h4>
                <a target="_blank" data-ng-repeat="i in ctrl.range(ctrl.hoth)" ng-href="http://{{ctrl.hoth.troopers[i]}}">
                    <img src="images/docker.png" class="docker">
                </a>
            </div>

        </div>
    </div>
</div>

</body>
</html>