<!DOCTYPE html>
<html>
<head>
    <title>UI - Demo - Conquerir le monde avec Fleet et CoreOs</title>
    <script src="libs/sockjs-1.0.3.min.js"></script>
    <script src="libs/stomp.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="js/uiFleetCoreOsCtrl.js"></script>


    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="./libs/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/style.css"/>
</head>
<body ng-app="uiFleetCoreOs">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h1 class="title">Conquerir le monde avec "Fleet" et "CoreOs"</h1>
        </div>
    </div>
</nav>

<div class="container" id="containerBody" ng-controller="UiFleetCoreOsCtrl as ctrl">
    <div class="row">
        <div class="col-xs-12  col-sm-12 col-md-12 col-lg-12">
            <h4 class="text">Death Star</h4>
            <img ng-src="/images/etoilenoire.png" class="planet"/>
        </div>
    </div>

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.tatooine)">
                <h4 class="text">{{ctrl.tatooine.name}}</h4>
                <h4 class="text">{{ctrl.tatooine.ip}}</h4>
                <img ng-src="/images/{{ctrl.tatooine.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.tatooine)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.kamino)">
                <h4 class="text">{{ctrl.kamino.name}}</h4>
                <h4 class="text">{{ctrl.kamino.ip}}</h4>
                <img ng-src="/images/{{ctrl.kamino.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.kamino)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.coruscant)">
                <h4 class="text">{{ctrl.coruscant.name}}</h4>
                <h4 class="text">{{ctrl.coruscant.ip}}</h4>
                <img ng-src="/images/{{ctrl.coruscant.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.coruscant)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.naboo)">
                <h4 class="text">{{ctrl.naboo.name}}</h4>
                <h4 class="text">{{ctrl.naboo.ip}}</h4>
                <img ng-src="/images/{{ctrl.naboo.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.naboo)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.alderaan)">
                <h4 class="text">{{ctrl.alderaan.name}}</h4>
                <h4 class="text">{{ctrl.alderaan.ip}}</h4>
                <img ng-src="/images/{{ctrl.alderaan.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.alderaan)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.hoth)">
                <h4 class="text">{{ctrl.hoth.name}}</h4>
                <h4 class="text">{{ctrl.hoth.ip}}</h4>
                <img ng-src="/images/{{ctrl.hoth.name}}.png" class="planet"/>
            </div>
            <div ng-show="!ctrl.showDeadPlanet(ctrl.hoth)">
                <h4 class="textDead">Bye</h4>
                <h4 class="textDead">Bye</h4>
                <img ng-src="/images/ko.gif" class="planet"/>
            </div>
        </div>
    </div>

    <div class="row" id="dockerGroup">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.tatooine)">
                <h4 class="text">{{ctrl.tatooine.nbrTrooper}}</h4>
                <img data-ng-repeat="i in ctrl.range(ctrl.tatooine)" src="images/docker.png" class="docker">
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.kamino)">
                <h4 class="text">{{ctrl.kamino.nbrTrooper}}</h4>
                <img data-ng-repeat="i in ctrl.range(ctrl.kamino)" src="images/docker.png" class="docker">
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.coruscant)">
                <h4 class="text">{{ctrl.coruscant.nbrTrooper}}</h4>
                <img data-ng-repeat="i in ctrl.range(ctrl.coruscant)" src="images/docker.png" class="docker">
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.naboo)">
                <h4 class="text">{{ctrl.naboo.nbrTrooper}}</h4>
                <img data-ng-repeat="i in ctrl.range(ctrl.naboo)" src="images/docker.png" class="docker">
            </div>
        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.alderaan)">
                <h4 class="text">{{ctrl.alderaan.nbrTrooper}}</h4>
                <img data-ng-repeat="i in ctrl.range(ctrl.alderaan)" src="images/docker.png" class="docker">
            </div>

        </div>
        <div class="col-xs-2  col-sm-2 col-md-2 col-lg-2">
            <div ng-show="ctrl.showPlanet(ctrl.hoth)">
                <h4 class="text">{{ctrl.hoth.nbrTrooper}}</h4>
                <img data-ng-repeat="i in ctrl.range(ctrl.hoth)" src="images/docker.png" class="docker">
            </div>

        </div>
    </div>
</div>

</body>
</html>