body {
    background: #000 url("/images/bg.jpg");
}
#containerBody{
    padding-top: 70px;
}
.planet{
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#dockerGroup{
    padding-top: 50px;
}
.docker{
    height: 25px;
}
.title {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 1.9em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}
.text {
    color: #fff;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 1.1em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}
.textDead {
    color: #ff0012;
    font-family: "ITC Serif Gothic", Lato;
    font-size: 1.1em;
    left: -2em;
    letter-spacing: 0.4em;
    right: -2em;
    text-align: center;
    text-transform: uppercase;
    top: 29%;
}